#login {
  margin:0 auto;
  text-align:center;
  margin-top:10%;  
  font-size:12px;
}
#login input[type='text'] {
    width:40%;
    height:50px;
    line-height:50px;
    font-size:26px;
}
#login-title {
  font-weight:600;
  text-align:center;
  margin-top:70px;
}
#login input[type='submit'] {
  margin:20px;
  width:20%;
  height:50px;
}
#login h1,
#login h3 {
  font-size:16px;
}
#login-success {
  text-align:center;
  color:green;
}
#login-failed {
  text-align:center;
  color:red;
}