.navbar {
  width:100vw;
  height:50px;
  background-color:#4E0202;
  color:white;
}
.navbar a {
  color: white;
}
.navbar li a:hover {
  color:black;
  background-color:#F1B833;
}
.navbar-key {
  float:right;
  font-size:12px;
  padding:17px;
}